<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="csrf-token"
	content="">
<link href="{baseUrl}_template/assets/ui/storm.css?v313"
	rel="stylesheet">
<link href="{baseUrl}_template/assets/css/october.css?v313"
	rel="stylesheet">

<script src="{baseUrl}_template/assets/js/jquery-1.12.0.min.js?v313"></script>

<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<script src="{baseUrl}_template/assets/js/jquery.fileDownload.js"></script>

<script src="{baseUrl}_template/assets/js/framework.js?v313"></script>
<script src="{baseUrl}_template/assets/ui/storm-min.js?v313"></script>
<script src="{baseUrl}_template/assets/js/october/october-min.js?v313"></script>
<script
	src="{baseUrl}_template/assets/js/media/mediamanager-global-min.js"></script>
<script src="{baseUrl}_template/assets/js/lang/lang.ko.js?v313"></script>
<script src="{baseUrl}_template/assets/js/october/october.flyout.js"></script>
<script
	src="{baseUrl}_template/assets/js/october/october.tabformexpandcontrols.js"></script>
<link rel="stylesheet"
	href="{baseUrl}_template/assets/css/mediamanager.css?v313">
{?false}
<script src="{baseUrl}_template/assets/js/media/mediamanager.js"></script>
{:}
<script src="{baseUrl}_template/assets/js/mediamanager.js"></script>
{/}
<style>
body.outer {
	background: #2b3e50
}

body.outer .layout>.layout-row.layout-head {
	background: #1d2d3d
}

#layout-sidenav {
	background-color: #34495e
}

div.control-popover .popover-head {
	background: #d35400
}

div.control-popover.placement-bottom .popover-head:before {
	border-bottom-color: #d35400
}

div.control-popover.placement-left .popover-head:before {
	border-left-color: #d35400
}

div.control-popover.placement-right .popover-head:before {
	border-right-color: #d35400
}

.modal-header {
	background: #d35400
}

table.table.data tbody tr.active td:first-child {
	border-left: 3px solid #e67e22
}

.control-breadcrumb {
	background-color: #2b353e
}

.fancy-layout .control-tabs.master-tabs>div>div.tabs-container,
	.fancy-layout.control-tabs.master-tabs>div>div.tabs-container {
	background: #d35400
}

.fancy-layout .control-tabs.secondary-tabs.content-tabs.primary-collapsed>div>ul.nav-tabs,
	.fancy-layout.control-tabs.secondary-tabs.content-tabs.primary-collapsed>div>ul.nav-tabs
	{
	background: #e67e22
}

.fancy-layout .control-tabs.primary-tabs>div>ul.nav-tabs.master-area,
	.fancy-layout.control-tabs.primary-tabs>div>ul.nav-tabs.master-area {
	background: #e67e22
}

.fancy-layout .control-tabs.master-tabs>div>div.tabs-container>ul.nav-tabs>li a>span.title,
	.fancy-layout.control-tabs.master-tabs>div>div.tabs-container>ul.nav-tabs>li a>span.title
	{
	background-color: #ba530f
}

.fancy-layout .control-tabs.master-tabs>div>div.tabs-container>ul.nav-tabs>li.active a>span.title,
	.fancy-layout.control-tabs.master-tabs>div>div.tabs-container>ul.nav-tabs>li.active a>span.title
	{
	background-color: #e67e22
}

.fancy-layout .form-tabless-fields, .fancy-layout .form-tabless-fields .loading-indicator-container .loading-indicator
	{
	background: #e67e22
}

.fancy-layout .form-tabless-fields input[type=text]::-webkit-input-placeholder
	{
	color: #f6ceab
}

div.control-componentlist {
	background-color: #2b3e50
}

div.control-componentlist.droppable {
	background-color: #4f7192
}

.fancy-layout .control-tabs.primary-tabs>div>ul.nav-tabs.component-area,
	.fancy-layout.control-tabs.primary-tabs>div>ul.nav-tabs.component-area
	{
	background: #2b3e50
}

.control-filelist ul li.active a:after {
	background: #e67e22
}

.control-assetlist ul li.active a.link:after {
	background: #e67e22
}

.nav.selector-group li.active {
	border-color: #e67e22
}

.control-treeview ol>li.active>div:after {
	background: #e67e22
}

.sidenav-tree {
	background: #34495e
}

.sidenav-tree ul.top-level>li>div.group h3 {
	background: #2b3e50
}

.sidenav-tree ul.top-level>li>ul li a {
	background: #425669
}

.sidenav-tree ul.top-level>li>ul li.active a {
	background: #34495e
}

.sidenav-tree ul.top-level>li>ul li.active a:before {
	background: #e67e22
}

.sidenav-tree ul.top-level>li>ul li:hover a {
	background: #34495e
}

.fancy-layout .control-tabs.master-tabs>div>div.tabs-container>ul.nav-tabs>li a>span.title:before,.fancy-layout.control-tabs.master-tabs>div>div.tabs-container>ul.nav-tabs>li a>span.title:before,.fancy-layout .control-tabs.master-tabs>div>div.tabs-container>ul.nav-tabs>li a>span.title:after,.fancy-layout.control-tabs.master-tabs>div>div.tabs-container>ul.nav-tabs>li a>span.title:after	{
	background-image:
}
</style>