<form method="POST" action="{baseUrl}" accept-charset="UTF-8"
	class="layout" onsubmit="return false">
	<!-- csrf_token -->
	<input type="hidden" name="csrf_token" value="{csrf_token}">
	<!-- session_key -->
	<input name="session_key" type="hidden" value="{session_key}">
	<div data-control="media-manager" class="layout" data-alias="manager"
		data-unique-id="MediaManager-manager"
		data-delete-empty="삭제할 항목을 선택하세요."
		data-delete-confirm="정말로 선택된 파일 삭제 하시겠습니까?"
		data-download-empty="다운로드할 항목을 선택하세요."
		data-download-confirm="정말로 선택된 파일 다운로드 하시겠습니까?"
		data-move-empty="이동 항목을 선택하세요."
		data-select-single-image="하나의 이미지를 선택하세요."
		data-selection-not-image="선택한 항목이 이미지가 아닙니다."
		data-bottom-toolbar="false" data-crop-and-insert-button="false"
		tabindex="0">

		<!-- toolbar -->
		{#toolbar}

		<!-- upload progress -->
		{#upload_progress}

		<div class="layout-row whiteboard">
			<div class="layout">
				<div class="layout-row">
					<div class="layout-cell width-200 panel border-right"
						data-control="left-sidebar">
						<!-- Left sidebar -->
						{#left_sidebar}
					</div>
					<div class="layout-cell">
						<div class="layout">

							<div class="layout-row min-size">
								<!-- Folder toolbar -->
								{#folder_toolbar}
							</div>
							<div class="layout-row">
								<!-- Main area -->
								<div class="layout">
									<div class="layout-row">
										<div class="layout">
											<!-- Main area - list -->
											<div data-control="item-list">
												<div class="control-scrollpad">
													<div class="scroll-wrapper">
														<!-- This element is required for the scrollpad control -->
														<div id="MediaManager-manager-item-list">
															{#item_list}</div>
													</div>
												</div>
											</div>

											<div
												class="layout-cell width-300 panel border-left no-padding {?sidebarVisible}null{:}hide{/}"
												data-control="preview-sidebar">
												<!-- Right sidebar -->
												{#right_sidebar}
											</div>

										</div>
									</div>

									<div class="layout-row min-size hide"
										data-control="bottom-toolbar">
										<!-- Bottom toolbar -->
										{#bottom_toolbar}
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- New Folder Form -->
		<script type="text/template" data-control="new-folder-template">
		{#new_folder_form}
		</script>
	</div>
</form>

<div id="preparing-download" title="Preparing download..."
	style="display: none;">
	We are preparing your download, please wait...

	<div class="ui-progressbar-value ui-corner-left ui-corner-right"
		style="width: 100%; height: 22px; margin-top: 20px;"></div>
</div>

<div id="error-modal" title="Error" style="display: none;">There
	was a problem generating your download file, please try again.</div>