
<div class="panel no-padding padding-top">
	<input type="hidden" data-type="current-folder" value="{currentFolder}" />
	<input type="hidden" data-type="search-mode"
		value="{?searchMode}true{:}false{/}" />
	<div class="list-container">
		<!-- {?viewMode == 'grid'} -->
		<table class="table data">
			<col />
			<col width="130px" />
			<col width="130px" />

			<tbody class="icons clickable">
				<!-- {?!isRootFolder && !searchMode} -->
				<tr data-type="media-item" data-item-type="folder" data-root=""
					data-path="{=dirname(currentFolder)}" tabindex="0">
					<td><i class="icon-folder"></i>..</td>
					<td></td>
					<td></td>
				</tr>
				<!-- {/} -->
				<!-- {@items} -->
				<tr data-type="media-item" data-item-type="{.item}"
					data-path="{.path}/{.name}" data-title="{.name}"
					data-size="{.byte}" data-last-modified="{.date}"
					data-last-modified-ts="{.modified}" data-public-url="{.publicUrl}"
					data-document-type="{.type}" data-folder="{.path}" tabindex="0">
					<td>
						<div class="item-title no-wrap-text">
							<i class="{.icon}"></i> {.name} <a href="#" data-rename
								data-control="popup"
								data-request-data="path: '{.path}/{.name}', listId: 'MediaManager-manager-item-list', type: '{.item}'"
								data-handler="manager::onLoadRenamePopup" data-z-index="1200"><i
								data-rename-control class="icon-terminal"></i></a>
						</div>
					</td>
					<td>{.byte}</td>
					<td>{=date("y-m-d h:i A",.modified)}</td>
				</tr>
				<!-- {/} -->
			</tbody>
		</table>
		<!-- {:} -->
		<ul class="media-list {viewMode}">
			<!-- {?!isRootFolder && !searchMode} -->
			<li tabindex="0" data-type="media-item" data-item-type="folder"
				data-root="" data-path="{=dirname(currentFolder)}">
				<div class="icon-container folder">
					<div class="icon-wrapper">
						<i class="icon-folder"></i>
					</div>
				</div>
				<div class="info">
					<h4 title="상위 폴더로 돌아 가기">상위 폴더...</h4>
				</div>
			</li>
			<!-- {/} -->
			<!-- {@items} -->
			<li data-type="media-item" data-item-type="{.item}"
				data-path="{.path}/{.name}" data-title="{.name}" data-size="{.byte}"
				data-last-modified="{.date}" data-last-modified-ts="{.modified}"
				data-public-url="{.publicUrl}" data-document-type="{.type}"
				data-folder="{.path}" tabindex="0">
				<div class="icon-container {.type}">
					<div class="icon-wrapper">
						<i class="{.icon}"></i>
					</div>
					{?.type == 'image'}
					<div>
						<div class="image-placeholder"
							data-width="{thumbnailParams.width}"
							data-height="{thumbnailParams.height}"
							data-path="{.path}/{.name}" data-last-modified="{.modified}"
							id="placeholder{.base64}">
							<div class="icon-wrapper">
								<i class="{.icon}"></i>
							</div>
						</div>
					</div>
					{/}
				</div>
				<div class="info">
					<h4 title="{.name}">
						{.name} <a href="#" data-rename="" data-control="popup"
							data-z-index="1200"
							data-request-data="path: '{.path}/{.name}', listId: 'MediaManager-manager-item-list', type: '{.item}'"
							data-handler="manager::onLoadRenamePopup"><i
							data-rename-control="" class="icon-terminal"></i></a>
					</h4>
					{?.byte != ''}
					<p class="size">{.byte}</p>
					{/}
				</div>
			</li>
			<!-- {/} -->
		</ul>
		<!-- {/} -->
	</div>
</div>
